.block__code {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: whitesmoke;
  padding: 0 10px;
  margin: 10px;
  border: 2px solid gray;
}
