@import "../App.less";

.edit-block {
  width: 100%;
  .flex-col(@gap);
  .input-container {
    .flex-row(@gap);
    textarea {
      .input();
      height: auto;
    }
    .type-area {
      .flex-col(@gap);
    }
  }
  .button-container {
    display: flex;
    justify-content: space-between;
  }
  &__textarea {
    flex-grow: 1;
  }
}
