@import "../App.less";
@login-form-width: 400px;
@input-width: @login-form-width - 50px;
@gap: 10px;

.login {
  overflow-x: hidden;
  margin-left: 260px;
  display: flex;
  flex-direction: column;
  width: @login-form-width;
  &__title {
    margin-top: 0;
  }
  &__message {
    margin-top: @gap;
    color: red;
    background: pink;
    padding: 5px;
    border: 1px solid red;
  }
  input {
    .input();
    width: @input-width;
    margin: 0 auto @gap;
  }
  input:focus {
    box-shadow: 0 0 5px 2px @primary-color-hover;
  }
  button {
    .button();
  }
  button:hover {
    .button-hover();
  }
}

.logout {
  .login();
}
