@import "../App.less";

@card-width: 350px;
@card-height: 200px;
@max-title-height: 75px;
@card-background-color: lightgray;

.post-card-edge(@border-radius-top:0, @border-radius-bottom:0, @color: @primary-color) {
  background-color: @color;
  color: whitesmoke;
  border-radius: @border-radius-top @border-radius-top @border-radius-bottom
    @border-radius-bottom;
  padding: @radius;
}

.flex-column() {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-card {
  width: @card-width;
  height: @card-height;
  background-color: @card-background-color;
  border-radius: @gap;
  .flex-column();
  &__header {
    .post-card-edge(@gap, 0);
  }
  &__body {
    padding: @radius;
    flex-grow: 1;
    .flex-column();
  }
  &__title {
    display: flex;
    flex-grow: 1;
    max-height: @max-title-height;
    overflow: auto;
    h2 {
      margin: auto;
    }
  }
  &__footer {
    .flex-column();
    flex-direction: row;
    .post-card-edge(0, @gap, rgb(107, 107, 107));
  }
  &__button {
    .button();
    display: block;
    margin: @gap auto;
  }
  &__button:hover {
    .button-hover();
  }
}

.post-card:hover {
  .post-card__header {
    background-color: @primary-color-hover;
  }
}
