@import "../App.less";

@gap: 10px;

.post-title {
  display: flex;
  align-items: center;
  gap: @gap;
  &__title {
    margin: 0;
  }
  button {
    .button();
  }
  button:hover {
    .button-hover();
  }
}
