@import "../App.less";

.flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.post-title {
  .flex();
  &__title {
    margin: 0;
    font-size: xx-large;
  }
  &__form {
    width: 100%;
    .flex();
    gap: @gap;
  }
  button {
    .button();
  }
  button:hover {
    .button-hover();
  }
  input {
    flex-grow: 1;
    .input();
  }
}
