@primary-color: #07237e;
@primary-color-hover: #0a32b8;
@button-padding-sm-y: 5px;
@button-padding-sm-x: 10px;
@button-padding-md-y: 10px;
@button-padding-md-x: 20px;
@navigation-width: 250px;
@navigation-height: 5rem;
@post-width: 700px;
@radius: 5px;
@gap: 10px;

.App {
  background: whitesmoke;
  color: black;
  overflow-x: hidden;
  overflow-y: scroll;
}

// General styles
.button(@width: fit-content) {
  border: none;
  background-color: @primary-color;
  color: whitesmoke;
  padding: @button-padding-md-y @button-padding-md-x;
  width: @width;
  border-radius: @radius;
}

.button-hover {
  background-color: @primary-color-hover;
}

.button-sm(@width: fit-content) {
  .button(@width);
  padding: @button-padding-sm-y @button-padding-sm-x;
}

.input {
  border-color: @primary-color;
  border-radius: @radius;
  height: 1.6rem;
  outline: none;
}
