@primary-color: #07237e;
@primary-color-hover: #0a32b8;
@button-padding-md-y: 10px;
@button-padding-md-x: 20px;
@radius: 5px;

.App {
  background: lightgrey;
  color: black;
  overflow-x: hidden;
  overflow-y: scroll;
}

// General styles
.button(@width: fit-content) {
  border: none;
  background-color: @primary-color;
  color: whitesmoke;
  padding: @button-padding-md-y @button-padding-md-x;
  width: @width;
  border-radius: @radius;
}

.button-hover {
  background-color: @primary-color-hover;
}

.input {
  border-color: @primary-color;
  border-radius: @radius;
  height: 1.6rem;
}
